*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #141414;  /*to please the eyes-*/
}

.Table{
    background-color: #212120;
    margin-top: 100px;
    width: 850px;
    border: solid 1px;
    border-radius: 20px;
    padding: 50px;
}

.Table h1{
    color: white;
}

.Table h2{
    color: white;
}

.Table h3{
    color: white;
}

.Table label{
    color: white;
}

.Table input{
    padding: 7px;
    margin: 10px;
}

.Top{
    margin-top: 50px;
}

.Middle{
    margin-top: 50px;
}

.Bottom{
    margin-top: 50px;
}

.Bottom button{
    background: #f78c0a; /*orange is the new black*/
    color: #fff;
    font-size: 23px;
    font-weight: 500;
    width: 100%;
    border: 1px solid #cf7911;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}

.Bottom button:hover{
    background: #c46f08;
    color: #fff;
}
